.nav-header {
  //@include flex-end;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  gap: 40px;
  width: 100%;
  @media screen and (min-width: $breakpoint-desktop) {
    text-transform: none;
  }

   &__nav-link-home,
  &__nav-link-about {
    @include font-right(12px);
    color: $primary-color;
    text-decoration: none;
    

    @media screen and (min-width: $breakpoint-desktop) {
      @include font-right(24px);
     
    }

    &:hover,
    &:focus {
      text-decoration-line: underline;
    }
  }
}
